body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
}

header {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #f4f4f4;
}

.hazifeladatok {
    margin: 0 auto;
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

.vizsgamunka {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh; 
}

.centered-content {
    text-align: center;
}

.vizsgamunka-cim {
    margin-bottom: 10px; 
}

.coming-soon-btn {
    padding: 10px 20px;
    background-color: #f2f2f2;
    border: none;
    color: #bcb6b6;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    cursor: not-allowed;
    opacity: 0.6;
}

.coming-soon-btn:hover {
    background-color: #cb0000;
}

.coming-soon-btn:active {
    transform: scale(0.98);
}
