body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
}

header {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #f4f4f4;
}

.hazifeladatok {
    margin: 0 auto;
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}
